input[type=text] {
	width: 100%;
}

@media print {
  .nonprinting {
    visibility: hidden;
  }
}

.breaking{
	break-before: always;
}

.input_u{
	border: none;
	border-bottom: 1px solid;
	text-align: center;
}

.input_w{
	border: none;
	text-align: center;
}


.input_ubig{
	font-size: 1.2em;
	border: none;
	border-bottom: 1px solid;
	text-align: center;
}

.input_b{
	border: 1px solid;
	border-radius: 0.5em;
	text-align: center;
}

.bordered {
	border: 2px solid;
	border-radius: 0.5em;
}

.halfwidth {
	width: 48%;
}

textarea {
    resize: none;
	width: 100%;
	overflow: auto;
}

.fullwidth {
	width: 100%;
}

.onethirdwidth {
	width: 33%;
}

body {
	font-family: sans-serif;
	font-variant: small-caps;
}

.right-aligned {
	text-align: right;
}

th {
	vertical-align: bottom;
  	font-variant: small-caps;
}

td {
  	font-variant: small-caps;
  	white-space: nowrap;
}

h3 {
	font-size: 1.2em;
	background-color: black;
	color: white;
	display: inline-block;
	padding: 0.1em;
	font-variant: small-caps;
    margin-top: 0em;
    margin-bottom: 0em;
}

h4 {
	font-family: monospace;
	background-color: black;
	color: white;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    display: inline-block;
    padding: 0.075em;
   	font-variant: small-caps;
}

h6 {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
   	font-variant: small-caps;
}
